---
import BaseLayout from "../layouts/BaseLayout.astro";
import AdminGuest from "../components/AdminPanel";
---

<BaseLayout title="Administración">
  <main class="flex flex-col w-full h-dvh">
    <AdminGuest client:only="react" />
  </main>
</BaseLayout>
