---
import BaseLayout from "../layouts/BaseLayout.astro";
import Guests from "../components/Guests";
import bg from "../../public/images/bg-assist.png";
import mobile from "../../public/images/bg-assist-mobile-2.png";
import info from "/public/images/InfoTransparent.png";
import ring from "/public/icons/ring.svg";
import { Image } from "astro:assets";
---

<BaseLayout title="Confirmar Asistencia">
  <main class="flex flex-col w-full h-dvh items-center">
    <section class="w-full flex justify-center items-center relative">
      <div
        class="rounded-full absolute bg-white flex flex-col justify-center size-48"
      >
        <Image src={ring} alt="ring" class="w-full absolute z-20" />
        <Image src={info} alt="info" />
      </div>
      <Image
        src={bg}
        alt="foto de Arely y Carlos"
        class="object-cover min-h-60 hidden md:block"
      />
      <Image
        src={mobile}
        alt="foto de Arely y Carlos"
        class="object-cover min-h-60 md:hidden"
      />
    </section>
    <section class="p-4 w-full md:max-w-screen-md h-full flex flex-col">
      <h1 class="text-center text-3xl pb-3 text-secondaryFont">
        Confirmar Asistencia
      </h1>
      <Guests client:only="react" />
    </section>
  </main>
</BaseLayout>
