---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Location from "../components/Location.astro";
import { Image } from "astro:assets";
import amazon from "../images/amazon.svg";
import liverpool from "../images/liverpool-logo.svg";
---

<BaseLayout title="Carlos y Arely">
  <main class="min-w-full min-h-full flex flex-col items-center">
    <Header />
    <Location />
    <section class="bg-secondaryBG w-full p-4">
      <h2 class="text-mainFont text-center font-medium text-3xl py-3">
        Mesa de regalos
      </h2>
      <div
        class="flex md:gap-40 justify-center flex-col md:flex-row items-center"
      >
        <Image src={amazon} alt="Amazon logo" height={150} />
        <Image src={liverpool} alt="Liverpool logo" height={50} />
      </div>
    </section>
  </main>
</BaseLayout>
