---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Location from "../components/Location.astro";
---

<BaseLayout title="Carlos y Arely">
  <main class="min-w-full min-h-full flex flex-col items-center">
    <Header />

    <Location />
  </main>
</BaseLayout>
